{% extends "base.html" %}

{% block nav %}
<a href="/patient/home"><i class="bi bi-house"></i> Dashboard</a>
<a href="/patient/score" class="active"><i class="bi bi-calculator"></i> New Score</a>
{% endblock %}

{% block content %}

<h2 class="page-title">Liver Assessment</h2>

<div class="card p-4">

<form method="post" action="/patient/score">

<div class="row g-3">
  <div class="col-md-3"><input name="age" class="form-control" placeholder="Age"></div>
  <div class="col-md-3"><input name="ast" class="form-control" placeholder="AST"></div>
  <div class="col-md-3"><input name="alt" class="form-control" placeholder="ALT"></div>
  <div class="col-md-3"><input name="platelets" class="form-control" placeholder="Platelets"></div>
</div>

<button class="btn btn-primary mt-4 w-100">Calculate</button>

</form>
</div>

{% if entry %}
<div class="row mt-4 g-4">

<div class="col-md-4">
<div class="card text-center p-3">
<h6>FIB-4</h6>
<h2>{{ entry.fib4 }}</h2>
</div>
</div>

<div class="col-md-4">
<div class="card text-center p-3">
<h6>APRI</h6>
<h2>{{ entry.apri }}</h2>
</div>
</div>

<div class="col-md-4">
<div class="card text-center p-3">
<h6>Risk</h6>
<h2>{{ entry.risk_level }}</h2>
</div>
</div>

</div>
{% endif %}

{% endblock %}